@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #57ca8d;
    --main: #30de80;
    --primary-100: #073044;
    --primary-200: #415A66;
    --primary-300: #7fbd45;
    --primary-400: #8eb161;
    --dark: 
    --secondary: #ffa929;
    --positive: var(--primary-300);
    --caution: #ffcf45;
    --warning:  #ff2452;
    --success: #00d02b;
    --info: #00cecf;
    --background: #202124;
    --background-100: #26282b;
    --background-200: #3b3c3f;
    --font-xs: 10px;
    --font-sm: 12px;
    --font-base: 14px;
    --font-lg: 16px;
    --font-xl: 18px;
    --font-2xl: 20px;
    --font-3xl: 22px;

    --white: #fff; 
    --accent1: var(--caution);
    --accent2: var(--success);
    --accent3: var(--info);
    --accent4: var(--warning);
    --accent5: var(--primary);

    --active: var(--primary-300);
    --pending: var(--background-200);
    --finished: var(--background-100);


    
  }


* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;

}


#app {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 'sidebar content';
    height: 100vh;
    background-color: var(--background);
    color: #ffffff;
    overflow-y: auto;

}

/* Bootstrap and slad.ai*/
.container-fluid {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  color:  var(--white); 
}

.badge.rounded-pill.bg-danger {

  border-radius: 0.8rem; 
  background-color: var(--warning); 
  color:  var(--white); 
  padding: 0.2rem 0.4rem; 
  font-size: var(--font-sm);
}

.logo-image {
  margin-right: 5px;
  width:30px;
  height:30px;
}

.logo-image:hover {
  margin-right: 5px;
  width:30px;
  height:30px;
  transform: rotate(-15deg);
  cursor: pointer;
}

.rotate:hover {
  transform: rotate(-15deg);
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
}
.navbar-brand {

  font-size: 1.2rem; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
}

/* General styles */

a {
  text-decoration: none;
}
a:visited {
  color: inherit; /* or specify the color you want for visited links */
  text-decoration: none; /* optional: remove underline for visited links */
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
    padding: 10px ;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: var(--font-base);
    background-color: var(--primary);
    color: #ffffff;
    border-radius: 10px;
    border: none;
    
}

button:hover {
    background-color: var(--primary-200);
}


/* Sidebar styles */

#sidebar {
    background-color: var(--background-100);
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#company-logo {
    height: 65px;
}


#nav-buttons {
    
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
#nav-buttons li {
    background-color: var(--primary);
    list-style-type: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
    
}
#nav-buttons li:hover {
    background-color: var(--primary-200);
}

/* Content styles */

header {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.initials {
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 17px;
  background-color: #ca8134;
  width: 2em;
  height: 2em;
  border-radius: 0.4em;
  padding: 20px;
}


.project-card {
    background-color: var(--background-100);
    border-radius: 8px;
    cursor: pointer;
  }
  
  .project-card:hover {
    outline: 2px solid var(--primary);
  }
  
  .card-header {
    display: flex;
    column-gap: 20px;
    padding: 15px 20px;
    align-items: center; 
    justify-content: start;
    border-bottom: 2px solid #3b3c3f;
    height: 60px;
  }
  
  .card-content {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
  }
  
  .card-property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #projects-list {
    display: grid;
    padding: 20px 40px;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  #material-list {
    display: grid;
    padding: 20px 40px;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  #material-details, #component-details {
    
    padding: 20px 40px;
    gap: 30px;
    
  }

  .action-icon {
    color: darkgray;
    border-radius: 100%;
    padding: 4px;
    font-size: 20px;
    cursor: pointer;
  }

  .action-icon:hover {
    color: white;
    background-color: var(--primary);
  }
  
/* Form Styles */

dialog {
  background-color: transparent; 
  border: none;
	margin: auto;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.popup, form {
  width: 450px; 
  border-radius: 10px; 
  background-color: var(--background-100);
  color: white;
}


.popup h2 {
  padding: 20px;
  align-items: baseline; 
  border-bottom: 2px solid var(--background-200);
}

form h2 {
  padding: 20px; 
  border-bottom: 2px solid var(--background-200);
}

.popup-content {
  padding: 20px; 
}

form .input-list {
  display: flex; 
  flex-direction: column; 
  padding: 20px; 
  row-gap: 14px;
}

form .form-field-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: var(--font-base);
  margin-bottom: 10px;
  font-weight: 500;
  color: rgba(150,150,150,1);
  display: flex;
  align-items: center;
  column-gap: 5px;
}

input, textarea, select {
  color: white; 
	background-color: var(--background-200);
  padding: 15px; 
  border-radius: 8px; 
  border: none;
  font-size: var(--font-base);
}

input:focus, textarea:focus, select:focus {
  outline: 2px solid var(--primary);
}

/* Project details page */

.dashboard-card {
  background-color: var(--background-100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#project-details > .main-page-content-show {
  display: grid;
  padding: 20px 40px;
  gap: 30px;
  
  grid-template-columns: 475px 1fr; 
  height: 100%;
}

#project-details > .main-page-content-hide {
  display: grid;
  padding: 20px 40px;
  gap: 30px; 
  
  grid-template-columns: 1fr;  
  /* height: 100%; */
}
.btn-secondary {
  background-color: transparent; 
  outline: 2px solid #969696; 
  width: 100px; 
  text-align: center;
}

.btn-secondary:hover {
  background-color: var(--primary); 
  outline: none;
}

.btn-red {
  outline: none;
  background-color: #ff2452; 
   
  text-align: center;
}
.btn-ai {
  outline: none;
  background-color: #00cecf; 
   
  text-align: center;
}
.btn-ai:hover {
  background-color: transparent; 
  outline: 2px solid #969696; 
}
.btn-red:hover {
  background-color: transparent; 
  outline: 2px solid #969696; 
}

.todo-item {
  padding: 20px;
  
  border-radius: 10px;
  cursor: pointer;
}

.todo-item:hover {
  outline: 2px solid #969696; 
}

.progress-bar {
background-color: var(--positive);
padding: 4px 0; 
text-align: center;
}

.progress-bar text {
  padding-left: 3px;
}

.inline-icon {
  vertical-align:middle;
  margin-bottom: 5px;
  
}


.flag-container {

  transform-style: preserve3d;
  perspective: 10em;
  perspective-origin: center bottom;
  position: relative;

}

/* Tooltip container */
.tooltip {
  
  text-decoration: dotted;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover {
  border-color: red;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}





/*        */



.element-item {
  padding: 20px;
  background-color: var(--background-100);
  border-radius: 10px;
  cursor: pointer;
  
}

.element-item:hover {
  outline: 1px solid #969696; 
}


.element-component {
  padding: 10px;
  background-color:  var(--background-200);
  border-radius: 10px;
  margin-bottom: 5px;
  
  
}

.qtyValueList {
  padding: 10px;
  background-color:  var(--background-200);
  border-radius: 10px;
}
.qtyValueList:hover {
  outline: 1px solid var(--background-100); 
}



/*         */
.warning {
  background-color: var(--warning);
}
.positive {
  background-color: var(--positive);
}
